# General
.DS_Store
node_modules/
*.tsbuildinfo

# Environment variables
.env
.env.local

# Vercel
.vercel

# Vitest
coverage
html
reports

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

.nitro
.tanstack
.output
build
dist

# content collections
.content-collections
