# General
.DS_Store
node_modules/
*.tsbuildinfo

# React Router
.react-router/
build/

# Environment variables
.env

# Vercel
.vercel

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
