---
type Props = {
  support: { title: string; description: string; url: string }
}

const {
  support: { title, description, url },
} = Astro.props
---

<a
  href={url}
  target="_blank"
  class="flex bg-surface p-1 rounded-2xl transition-all duration-300 hover:-translate-y-1 cursor-pointer relative group"
>
  <div
    class="flex flex-col h-full w-full border-2 border-border border-dashed rounded-xl p-3 transition-all duration-300 group-hover:border-link"
  >
    <div class="flex items-center gap-2">
      <i class="fi fi-br-circle-small text-foreground/60"></i>
      <h3 class="text-sm font-medium text-wrap">{title}</h3>
    </div>

    <p
      class="text-sm text-foreground/60 mt-3 text-pretty line-clamp-2 leading-relaxed"
    >
      {description}
    </p>
  </div>
</a>
