/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");

/* Tailwindcss */
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-*: initial;
  --font-default: "STIX Two Text", serif;

  --leading-tight: 1.1;

  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.34 0 0);
  --color-surface: hsl(0 0 9 7%);
  --color-border: oklch(95% 0 0);
  --color-input: oklch(96% 0 0);
  --color-primary: oklch(0 0 0);
  --color-primary-foreground: oklch(98.2% 0 0);
  --color-secondary: oklch(96% 0 0);
  --color-secondary-foreground: oklch(% 0 0);
  --color-accent: oklch(0.6273 0.233484 32.6704);
  --color-selection: oklch(1 0 0);
  --color-selection-foreground: oklch(0.6273 0.233484 32.6704);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply box-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-base font-normal leading-normal text-foreground bg-background font-default tracking-normal antialiased selection:bg-selection selection:text-selection-foreground;
  }
}

@utility prose {
  --tw-prose-headings: var(--color-foreground);
  --tw-prose-body: var(--color-foreground);
  --tw-prose-links: var(--color-foreground);
  --tw-prose-bold: var(--color-foreground);
  --tw-prose-counters: var(--color-foreground);
  --tw-prose-bullets: var(--color-foreground);
  --tw-prose-hr: var(--color-border);
  --tw-prose-quotes: var(--color-secondary);
  --tw-prose-quote-borders: var(--color-foreground);
  --tw-prose-captions: var(--color-secondary);
  --tw-prose-code: var(--color-foreground);
  --tw-prose-pre-code: var(--color-foreground);
  --tw-prose-pre-bg: var(--color-surface);
  --tw-prose-th-borders: var(--color-border);
  --tw-prose-td-borders: var(--color-border);

  @apply text-base leading-relaxed font-normal max-w-full;

  a {
    @apply font-normal no-underline;

    &:hover {
      @apply underline text-accent;
    }
  }

  strong {
    @apply font-medium;
  }

  h1 {
    @apply text-xl font-medium tracking-tighter leading-tight text-balance;
  }

  h2 {
    @apply text-lg font-medium tracking-tighter leading-tight text-balance;
  }

  h3 {
    @apply text-base font-medium tracking-tighter leading-tight text-balance;
  }

  img {
    @apply rounded-xl;
  }
}
