---
export type ContactData = {
  href: string
  label: string
}

type Props = {
  contact: ContactData
}

const {
  contact: { href, label },
} = Astro.props
---

<a
  href={href}
  target="_blank"
  class="flex items-center rounded-2xl px-4 h-12 transition-all duration-300 hover:-translate-y-1 bg-surface text-[.8125rem] border-2 border-border border-dashed hover:border-link"
>
  {label}
</a>
