---
type SocialData = {
  label: string
  href: string
  icon: string
  className?: string
}

type Props = {
  social: SocialData
}
const {
  social: { href, icon },
} = Astro.props
---

<li class="flex">
  <a
    href={href}
    target="_blank"
    class="flex items-center justify-center h-12 w-12 bg-surface rounded-2xl transition-all duration-300 hover:-translate-y-1 border-2 border-border border-dashed hover:border-link"
  >
    <i class={icon}></i>
  </a>
</li>
