<footer class="flex flex-col" id="footer">
  <div class="flex flex-row items-center py-7 justify-between mt-8">
    <span class="text-sm cursor-pointer">&copy; Nyoman Sunima</span>
    <span class="text-sm cursor-pointer">Design in Bali</span>
  </div>
</footer>
