---
import Menu from "./menu.astro"
---

<header class="flex items-center justify-between h-24 tablet:h-28">
  <a
    href={"/"}
    class="flex items-center text-sm font-medium transition-all duration-300 text-foreground/60 hover:text-link"
  >
    nyomansunima.one
  </a>

  <Menu />
</header>
