<section class="mt-24 prose-p:text-foreground/60">
  <div class="flex flex-col not-prose group">
    <span
      class="text-sm font-mono text-foreground/60 tracking-tight transition-all duration-300 group-hover:text-link"
    >
      Services.
    </span>
    <h2 class="py-2">Finding your own way.</h2>
  </div>

  <p>
    I offer a wide range of services to help you achieve your goals.{" "}
    <span class="text-foreground">
      Whether you need a website, a mobile app, or a custom software solution
    </span>
    , I can help you bring your vision to life.
  </p>

  <ul>
    <li>Branding & Visual Design</li>
    <li>Web Design & Development</li>
    <li>Mobile App Development</li>
    <li>Custom Software Development</li>
    <li>Nocode Development</li>
    <li>Automation</li>
    <li>DevOps</li>
    <li>UI/UX Design</li>
    <li>SEO Optimization</li>
    <li>Consulting & Strategies</li>
  </ul>

  <p>
    Everything{" "}
    <span class="text-foreground">
      pack with the most valuable result and dedicated
    </span>
    . You will get the stunning result for every project you build.
  </p>
</section>
